# 忽略Python的缓存文件
__pycache__/
*.pyc

# 忽略IDE（如PyCharm）的配置文件
.idea/
.vscode/

# 忽略所有数据集文件夹
# 这是最重要的部分，避免上传图片和视频
gesture_dataset/

# 忽略所有模型文件和标准化工具
# 这些文件是由代码生成的，不应纳入版本控制
models/

# 如果有其他日志或临时文件，也可以在这里添加
*.log